<%- include('./header.ejs') %> 

    <div class="container">
        <h1 class="text-center p-3">About our Pizza Store</h1>
      <hr>
      <div class="row mt-5">
        <div class="col-md-6">
          <img src="../images/pizza.png" alt="" width="300">
        </div>
        <div class="col-md-6">
          <h1>PizzaStore</h1>
          <p>PizzaStore is a restaurant chain and international franchise which was founded in 2020 by ElfGod. The company is know for its italian american cusine menu, including pizza and pasta. </p>
        </div>
      </div>
        
    </div>

<%- include('./footer.ejs') %>  