<%- include('./header.ejs') %> 

      <div class="container mt-5">
        <h2 class="text-center mt-5">Place your Pizza Order</h2>
        <form action="/orders" method="POST" class="col-md-6 mx-auto mt-5" >
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter name" required>
        </div>
        <div class="form-group">
          <label>Pizza type</label>
          <input type="text" class="form-control" name="pizza" placeholder="Enter pizza" required>
        </div>
        <div class="form-group">
          <label>Location</label>
          <input type="text" class="form-control" name="location" placeholder="Enter location" required>
        </div>
        <button type="submit" class="btn btn-primary">Placer order</button>

        </form>
        
    </div>
    
<%- include('./footer.ejs') %>  