<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs <%= title %> </title>
</head>
<body>
    <h1>This is a website with ejs</h1>
    <% name="ElfGod" %> 
    <%= name %> 
    <% items.forEach(item=>{ %>
        <h4><%= item.first %> <%= item.last %>  %> </h4>        
    <% }) %>
</body>
</html>